__pycache__/
docker-compose.yml
nginx.conf

# Ignore version control
.git/
.gitignore

# Ignore local database files (SQLite etc.)
*.db
languages_problems_testdb.json

# Ignore system files
.DS_Store
.idea/
.vscode/

# Ignore logs
*.log

# Ignore environment files (secrets)
.env
.env.example





