<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forget Password</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'authentication/authentication.css' %}">
  <link rel="stylesheet" href="{% static 'authentication/forgetpassword.css' %}">
</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <div class="back-link">
         <a href="{% url 'login' %}">←Back</a>
    </div>

    {% if form.non_field_errors %}
      <div class="error">{{ form.non_field_errors.0 }}</div>
    {% endif %}

    {% if form.non_field_errors %}
      <div class="error">{{ form.non_field_errors.0 }}</div>
    {% endif %}

    {% for field in form %}
      {% if forloop.first %}
        <div class="form-group">
          <h2>Forget Password</h2>
        </div>
      {% endif %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <span class="error-message">{{ field.errors.0 }}</span>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit">Change Password</button>
  </form>

</body>
</html>
