<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'authentication/authentication.css' %}">
  <link rel="stylesheet" href="{% static 'authentication/register.css' %}">
</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      {% if forloop.first %}
        <div class="form-group">
          <h2>Register</h2>
        </div>
      {% endif %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <span class="error-message">{{ field.errors.0 }}</span>
        {% endif %}
      </div>
    {% endfor %}
    {% if form.non_field_errors %}
      <div class="error">{{ form.non_field_errors.0 }}</div>
    {% endif %}

    <button type="submit">Register</button>
  </form>

  <div class="link-message">
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
  </div>
</body>
</html>
